$text: #FBFBFE;
$background: #0E0E1B;
$accent: #FB7375;
$button-primary: #4242CD;
$button-secondary: #1C1C46;

h1 {
  color: $text;
  font-family: "Metropolis", sans-serif;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: $text;
  font-family: "Metropolis", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: $text;
  font-family: "Metropolis", sans-serif;
  font-size: 67px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: $text;
  font-family: "Metropolis", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h5 {
  color: $text;
  font-family: "Metropolis", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h6 {
  color: $text;
  font-family: "Metropolis", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

p {
  color: $text;
  font-family: "Metropolis", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

body {
  background-color: $background;
  height: 100vh;
  overflow: hidden;
}

#background-gradient {
  position: absolute;
  top: -80px;
  right: 0;
  width: 80%;
  z-index: -2;
}

#background-noise {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  opacity: 15%;
}


a {
  text-decoration: inherit;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
}

#header-logo {
  margin: 32px 0px 0px 32px;
}

#header-tabs {
  margin: 32px 32px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

#signature {
  width: 888px;
  position: absolute;
  left: 240px;
  top: 240px;
}

.hero-section {
  display: flex;
  height: 693px;
  padding: 64px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
}

.intro {
  overflow: hidden;

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  div {
    display: flex;
    align-items: flex-start;
    gap: 64px;
  }
}

.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.right-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.text-container {
  overflow: hidden;
}